.wrapper {
  background: #bec1cc;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  display: flex;
  flex-direction: column;
  z-index: 1;
  cursor: default;
  border: 1px solid transparent;
}

.wrapper.active {
  border: 1px solid #2cd598;
}

.infoSection {
  display: flex;
  padding: 16px 16px 0;
}

.iconLabel {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: #000;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 3px 0;
}

.label {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #22252f;
  text-overflow: clip;
}

.description {
  margin: 0;
  font-family: 'DM-sans', sans-serif;
  font-size: 14px;
  color: #767a8c;
}
