.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100px;
  background: linear-gradient(90deg, #e2e4e8 21px, transparent 1%) center, linear-gradient(#e2e4e8 21px, transparent 1%) center, #000;
  background-size: 22px 22px;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: Helvetica, sans-serif;
  text-align: left;
  line-height: 1;
  outline: none !important;
}

.wrapper * {
  box-sizing: border-box;
}

.wrapper input,
textarea,
select {
  font-family: Helvetica, sans-serif;
}

.transformWrapper {
  transform-origin: center center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
}

.scaleWrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}
